<!DOCTYPE html>
<html lang="nl">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styleguide.css">
	<link rel="stylesheet" href="/style.css">
	<title>{{ title }}</title>
</head>
<body class="cart">
	<header>
	<h1 class="vs-hidden">{{ title }}</h1>
	<a href="/">
		<img src="/assets/logo.png" alt="fdnd shop logo">
	</a>

	<form action="/search" method="POST">
		<label for="search-input">
		<svg class="search-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
			<circle cx="11" cy="11" r="8"></circle>
			<line x1="21" y1="21" x2="16.65" y2="16.65"></line>
		</svg>
		
		<input type="search" name="search" id="search-input" placeholder="Zoek hier naar iemand (koop)..." value="{{ q }}">
		</label>
	</form>

	<a href="/cart">
		Cart
		<svg width="40" height="40" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M2.08337 2.08325H10.4167L16 29.9791C16.1905 30.9382 16.7123 31.7998 17.4741 32.413C18.2358 33.0262 19.189 33.352 20.1667 33.3333H40.4167C41.3944 33.352 42.3476 33.0262 43.1093 32.413C43.8711 31.7998 44.3929 30.9382 44.5834 29.9791L47.9167 12.4999H12.5M20.8334 43.7499C20.8334 44.9005 19.9006 45.8333 18.75 45.8333C17.5994 45.8333 16.6667 44.9005 16.6667 43.7499C16.6667 42.5993 17.5994 41.6666 18.75 41.6666C19.9006 41.6666 20.8334 42.5993 20.8334 43.7499ZM43.75 43.7499C43.75 44.9005 42.8173 45.8333 41.6667 45.8333C40.5161 45.8333 39.5834 44.9005 39.5834 43.7499C39.5834 42.5993 40.5161 41.6666 41.6667 41.6666C42.8173 41.6666 43.75 42.5993 43.75 43.7499Z" stroke="#1E1E1E" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>
	</a>
	</header>  