
<section class="taperollwrapper">
    <div class="taperollsleft">
        <img src="/assets/filmroll.png" alt="Film Roll">
        <div class="film-tape-css"></div>
    </div>

    <div class="taperollsright">
        <img src="/assets/filmroll.png" alt="Film Roll">
        <div class="film-tape-css"></div>
    </div>
</section>


<div class="curtains">
    <img src="/assets/curtain1.png" alt="">
    <img src="/assets/curtain.png" alt="">
</div>

