<!doctype html>
<html lang="nl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styleguide.css">
    <link rel="stylesheet" href="/bioscoopstyle.css">
    <title>Bioscoop</title>
  </head>
  <body>
    <article>
      <section>
        <div>
          <a href="/">terug</a>
          <img
            alt="foto van: persoon"
            height="50"
          >
          <p>naam:</p>
          <p>leeftijd:</p>
          <form>
            <label>
              rate deze film:
              <input
                type="range"
                name="rate"
                id="rate"
                min="0.5"
                max="5"
                step="0.5"
                value="2.5"
                style="--val: 2.5"
                oninput="this.style='--val:'+this.value"
              >
            </label>
          </form>
        </div>
        <div>
          <h1>favoriete film:</h1>
          <img
            src="/assets/20th_Century_Fox_logo_new.webp"
            width="500"
            height="250"
            alt="gif van 20th centry fox intro"
          >
          <p>{{ person.movie }}</p>
        </div>
      </section>
      <section>
        {% for person in persons %}
          <button class="stoel">
            {{ person.name }}
            <br>
            {{ person.id }}
          </button>
        {% endfor %}
      </section>
    </article>
  </body>
</html>
