<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bioscoop</title>
  </head>
  <body>
    <article>
      <section>
        {% for person in persons %}
          <button>
            {{ person.name }}
            <br>
            {{ person.id }}
          </button>
        {% endfor %}
      </section>
    </article>
  </body>
</html>
