{% render 'partials/head.liquid', title: 'Squad page'  %}

<main class="home">


{% include 'partials/overlay.liquid' %}
{% include 'partials/cardlayout.liquid' %}


</main>

{% render 'partials/foot.liquid', squads: squads %}