{% render 'partials/head.liquid', title: 'Squad page'  %}

<main class="home">

{% include 'partials/cardlayout.liquid' %}

<h2>
	Student van de maand 
	<code>(30% korting)</code> 
</h2>

{% include 'partials/individual.liquid', person: persons[0] %}

</main>

{% render 'partials/foot.liquid', squads: squads %}