{% render 'partials/head.liquid', title: 'Squad page'  %}

<a href="/bioscoop" class="link beige">test</a>
<a href="/bioscoop" class="link red">test</a>
<a href="/bioscoop"	class="link offwhite"> test</a>
<a href="/bioscoop" class="link brown">test</a>