body {
    background-color: var(--background-primary);
}

article {
    section {
        &:nth-child(1) {
            background-color: var(--secondary);
        }

        &:nth-child(2) {
            padding-block: 1em;
            width: 80%;
            justify-self: center;
            display: grid;
            gap: 5px;

            @media (min-width: 700px) {
                grid-template-columns: repeat(6, 1fr);
            }

            @media (min-width: 800px) {
                grid-template-columns: repeat(8, 1fr);
            }

            @media (min-width: 1200px) {
                grid-template-columns: repeat(10, 1fr);
            }
        }
    }
}