* {
    list-style: none;
    margin: 0px;
    padding: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
	font-family: sans-serif;
    box-sizing: border-box;
}

.vs-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}

body {

    /* colors */
    --primary-cinema: #431111;
    --badges: #431111;
    --secondary: #F7F7F7;
    --background-primary: #343434; 
	--black: #000000;
    --white: white;

	/* font sizes */
	--paragraph: clamp(1rem, 2vw, 1.3rem);
	--heading-small: clamp(1.2rem, 2vw, 1rem);
	--heading-medium: clamp(1.4rem, 2.7vw, 2.2rem);
	--heading-big: clamp(1.4rem, 3vw, 2.5rem);

    /* margings */
    --reg-margin: 1rem;
    --card-margin: .5rem;
    --large-margin: 1rem;
    --space-margin: 4rem;

    /* padding */
    --reg-padding: 1rem;
    --button-padding: 1.5rem;
    --card-padding: .5rem;
    --large-padding: 4rem;

    /* border-radius */
    --border-round: 100%;
    --border-button: 2.5rem;
    --border-small: 1rem;
    --border-medium: 1.5rem;
    --border-big: 2rem;

}

h1, h2 {
	font-weight: 700;
	font-size: var(--heading-big);
}

h3, h4 {
	font-weight: 700;
	font-size: var(--heading-medium);
}

h5, h6 {
	font-weight: 700;
	font-size: var(--heading-small);
}

p, a, span {
	font-size: var(--paragraph);
    font-weight: 400;
}

img, video {
	width: 100%;
	height: auto;
}

/* general link white background dark text */
a.link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 2rem;
    max-width: 400px;
    min-width: 100px;

    &.lightlink {
        background-color: var(--white);
        color: var(--primary-cinema);
    }

    &.darklink {
        background-color: var(--primary-cinema);
        color: var(--white);
    }
}
