
@font-face {
    font-family: Vesper-reg;
    src: url(/assets/regularfont.ttf);
}

@font-face {
    font-family: Vesper-med;
    src: url(/assets/mediumfont.ttf);
}

@font-face {
    font-family: Vesper-bold;
    src: url(/assets/boldfont.ttf);
}
    
* {
    list-style: none;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    box-sizing: border-box;
}

.vs-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}

body {

    /* colors */
    --primary-cinema: #431111;
    --badges: #431111;
    --secondary: #F7F7F7;
    --background-primary: #343434; 
    --button-bg-biege: #D0C3AA;
    --button-bg-red: #AC2323;
    --button-bg-offwhite: #ECECEC;
    --button-bg-brown: #431111;
    --button-text: #2E2E2E;
	--black: #000000;
    --white: white;

	/* font sizes */
	--paragraph: clamp(1rem, 2vw, 1.3rem);
	--heading-small: clamp(1.2rem, 2vw, 1rem);
	--heading-medium: clamp(1.4rem, 2.7vw, 2.2rem);
	--heading-big: clamp(1.4rem, 3vw, 2.5rem);

    /* margings */
    --reg-margin: 1rem;
    --card-margin: .5rem;
    --large-margin: 1rem;
    --space-margin: 4rem;

    /* padding */
    --reg-padding: 1rem;
    --button-padding: 1.5rem;
    --card-padding: .5rem;
    --large-padding: 4rem;

    /* border-radius */
    --border-round: 100%;
    --border-button: 2.5rem;
    --border-small: 1rem;
    --border-medium: 1.5rem;
    --border-big: 2rem;

}

h1, h2 {
	font-family: Vesper-bold;
	font-size: var(--heading-big);
}

h3, h4 {
	font-family: Vesper-bold;
	font-size: var(--heading-medium);
}

h5, h6 {
	font-family: Vesper-bold;
	font-size: var(--heading-small);
}

p, a, span {
    font-family: Vesper-reg;
	font-size: var(--paragraph);
}

img, video {
	width: 100%;
	height: auto;
}

/* general link white background dark text */
a.link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    width: 80%;
    max-width: 600px;
    min-width: 100px;
    border-radius: var(--border-small);

    &.beige {
        background-color: var(--button-bg-biege);
        color: var(--button-text);
    }

    &.red {
        background-color: var(--button-bg-red);
        color: var(--white);
        border: var(--button-text) 2px solid;
    }

    &.offwhite {
        background-color: var(--button-bg-offwhite);
        color: var(--button-text);
        border: var(--button-bg-brown) 2px solid;
    }

    &.brown {
        background-color: var(--button-bg-brown);
        color: var(--white);
        border: #946F18 2px solid;
    }
}

button.stoel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 6rem; 
    width: 100%;
    height: 7rem;
    border-radius: 3rem 3rem 0 0; 
    border: none;
    background-color: #63120d; 
    color: white;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.8);
    margin-block-end: -1.8rem;
    cursor: pointer;
    font-size: 1rem;
}