body {
    background-color: var(--background-primary);
    overflow-x: hidden;
    position: relative;
}

/* Global header */
header {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: .5rem;
    background-color: var(--primary-cinema);
    box-shadow: var(--black) 0 4px 9px;
    position: sticky;
    top: 0;
    z-index: 100;

    @media (min-width: 700px) {
        flex-direction: row;
        padding: 0.5rem 2rem;
        gap: 2rem;
    }

    section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100vw;
        padding: 0 .5rem;

        @media (min-width: 700px) {
            width: auto;
            display: contents;
        }

        a {
            display: flex;
            align-items: center;
            flex-direction: column;
            color: white;
            text-decoration: none;
            width: auto;

            @media (min-width: 700px) {
                width: auto;
                order: 1;
                margin-left: -2rem;
            }

            &:last-of-type {
                @media (min-width: 700px) {
                    order: 3;
                }
            }

            svg {
                width: 2.5rem;
            }

            img {
                width: 25vw;
                max-width: 150px;
                height: auto;
            }
        }
    }

    form {

        --inline-padding: 1rem;
        --icon-size: 1.2rem;

        font-size: 1rem;
        display: flex;
        align-items: center;
        width: 80%;

        @media (min-width: 700px) {
            width: 100%;
            max-width: 400px;
            order: 2;
            margin-left: -7rem;
        }

        label {
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;
            background-color: white;
            border-radius: 50px;
            border: 1px solid #eee;
            /* Optional: adds definition */
            padding: 0.5rem var(--inline-padding);
            transition: box-shadow 0.2s ease;
            font-size: 1rem;

            &:focus-within {
                box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.05);
            }

            .search-icon {
                width: var(--icon-size);
                height: var(--icon-size);
                color: #666;
                pointer-events: none;
            }

            input {
                width: 100%;
                height: 4dvh;
                padding: 0.6rem 0.8rem;
                background: none;
                border: none;
                color: #333;
                font-size: 1rem;

                &:focus {
                    outline: none;
                }

                &::placeholder {
                    color: #999;
                    font-size: .8rem;
                }

                &:-webkit-autofill {
                    -webkit-box-shadow: 0 0 0px 1000px white inset;
                }
            }
        }
    }
}

main {
    section.taperollwrapper {
        display: none;
    }
}

/* Global main styles */
main:not(.bioscoop) {
    margin-top: 3dvh;
    padding: 1rem;

    @media (min-width: 789px) {
        padding: 3rem;
    }

    h2 {
        color: white;
    }
}

main:has(section.cardlayout):not(.search) {
    display: flex;

    @media (min-width: 700px) {
        width: 80%;
        margin: 0 auto;
        padding: 1rem;
    }

    &:has(aside.filter-desktop.open) {
        flex-grow: 1;
        transition: all 0.4s ease;
    }

    section.taperollwrapper {
        display: none;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
        z-index: -1;
        pointer-events: none;

        @media (min-width: 700px) {
            display: flex;
        }

        img {
            position: sticky;
            top: 15dvh;
            width: 10vw;
            height: auto;
            z-index: 2;
        }

        div.taperollsleft,
        div.taperollsright {
            position: relative;
            width: 10vw;
            height: 100%;

            div {
                position: absolute;
                bottom: 0;
                width: 9.5vw;
                height: 97%;
                background-color: #1a1a1a;
                background-image:
                    radial-gradient(circle, #fff 50%, transparent 50%),
                    radial-gradient(circle, #fff 50%, transparent 50%);
                background-size: 1.5vw 1.5vw;
                background-position: 10% 0, 90% 0;
                background-repeat: repeat-y;
            }
        }

        .taperollsleft .film-tape-css {
            left: 0;
        }

        .taperollsright .film-tape-css {
            right: 0;
        }
    }
}

/* student page individual main styles */
main.student {

    margin-bottom: var(--space-margin);
    color: var(--button-bg-offwhite);
    background-image: url(/assets/filmroll-detail.png);
    background-repeat: no-repeat;
    background-size: 200%;
    background-position: -48.5rem -10rem;

    a {
        width: fit-content;
        color: var(--button-bg-biege);
    }


    section:nth-of-type(2) {

        h3 {
            margin: 5rem 0 2rem 0;
        }

        article {
            display: flex;
            position: relative;
            overflow: hidden;

            img {
                border-radius: 2rem;
                object-fit: cover;
                object-position: 70%;
                height: 30dvh;
                box-shadow: var(--black) 0 4px 9px;


                @media (min-width: 700px) {
                    height: 70dvh;
                }
            }

            h3 {
                margin: 0;
            }

            div:last-child {
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 1rem;
                left: 1rem;
                width: 100%;
                height: 100%;

                @media (min-width: 700px) {
                    top: 2rem;
                    left: 2rem;
                }
            }

            p {
                width: 60%;
                margin: 1rem 0;
                font-weight: 700;
                font-size: 1rem;
                display: none;

                @media (min-width: 700px) {
                    display: inline;
                }

                &:nth-of-type(2) {
                    display: inline;
                    width: 80%;

                    @media (min-width: 700px) {
                        display: none;
                    }

                }
            }
        }
    }

    section:nth-of-type(3) {

        h3 {
            margin: 5rem 0 2rem 0;
        }

        article {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            border-radius: 2rem;
            box-shadow: var(--black) 0 4px 9px;
            margin-bottom: var(--space-margin);
            height: 23rem;
            padding-left: var(--reg-padding);
            background-size: cover;
            background-position: top;
            background-repeat: no-repeat;

            &:hover {
                translate: 0 -1rem;
            }

            @media (min-width: 700px) {
                display: grid;
                grid-template-areas: "content media";
                justify-items: center;
            }

            div:nth-of-type(1) {
                grid-area: content;
            }

            h3 {
                margin: 0rem;
                margin-bottom: 1rem;
                z-index: 2;
                color: var(--button-bg-biege);
            }

            p {
                width: 60%;
                margin: 1rem 0;
                font-weight: 700;
                font-size: 1rem;
                display: none;

                @media (min-width: 700px) {
                    display: inline;
                }

                &:nth-of-type(2) {
                    display: inline;
                    width: 80%;

                    @media (min-width: 700px) {
                        display: none;
                    }

                }
            }
        }
    }

    section:nth-of-type(4) {

        margin-bottom: var(--space-margin);

        img {
            height: 5rem;
            margin: 0 0 -5.5rem 33rem;
        }

        div h3 {
            color: var(--button-bg-biege);
        }
    }

    iframe {
        margin-top: 3rem;
        box-shadow: var(--black) 0 4px 9px;
        margin-bottom: var(--space-margin);

        &:hover {
            translate: 0 -1rem;
        }
    }



    embed {
        margin: 4rem 0;
        width: 100%;
        height: 100dvh;
    }

}

main.search {
    display: flex;
    flex-direction: column;
    width: 100%;

    h2 {
        margin: 3rem 0;
    }
}

body.cart {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    header {
        flex: 0 0 100%;
    }

    main {
        flex: 1;
        min-width: 30vw;
    }

    aside {
        flex: 0 0 30vw;
    }
}

main.cart {
    color: white;
    section {

        img {
            border-radius: 1rem 0 0 1rem;
            width: 20%;
            height: auto;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 1rem;

        }

        li {
            display: flex;
            align-items: center;
            gap: 2rem;
            justify-content: flex-start;
            border-radius: 1rem;
            border: 4px solid black;
        }
    }
}

/* 404 page */
main.fof {

    img {
        width: 100vw;
        height: auto;
    }
}

main.berichten {
    ul {
        animation-name: name;
        animation-duration: 1s;
        transition: all .3s ease;

        li {
            p {}
        }
    }
}

aside.cart {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: var(--primary-cinema);
}

aside.filter-desktop {
    display: none;
    width: 0;
    opacity: 0;
    overflow: hidden;
    transition: width 0.4s ease, opacity 0.3s ease;
    background-color: var(--white);
    flex-shrink: 0;

    @media (min-width: 789px) {
        display: flex;
    }

    &.open {
        width: 250px;
        opacity: 1;
        padding: 1rem;
    }
}

/* badges for all pages */
div.badges {
    display: flex;
    flex-wrap: wrap;
    gap: .6rem;
    padding: 1rem;
    justify-content: flex-start;
    margin-top: var(--reg-margin);

    p {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: var(--border-medium);
        color: var(--primary-cinema);
        background-color: var(--white);
        padding: .3rem .5rem;
        min-width: 3rem;
    }
}

div.curtains {

    img {
        width: 50vw;
        height: 120dvh;
        position: fixed;
        top: 0;
        z-index: 100;

        animation-fill-mode: forwards;
        animation-duration: 1.2s;
        animation-timing-function: ease-in;
    }

    img:nth-of-type(1) {
        left: 0;
        animation-name: slide-left;
    }

    img:nth-of-type(2) {
        right: 0;
        animation-name: slide-right;
    }
}

/* card design universal */
section.cardlayout {
    container-type: inline-size;
    width: 100%;

    article.filters {
        display: flex;
        justify-content: space-around;

        button {
            display: none;


            @media (min-width: 789px) {
                display: inline-block;
            }
        }

        details:nth-of-type(1) {
            width: 20vw;
            height: fit-content;
            background-color: white;

            @media (min-width: 789px) {
                display: none;
            }

            &:open {}
        }

        details:nth-of-type(2) {
            width: 20vw;
            height: fit-content;
            background-color: white;

            &:open {}
        }
    }

    ul {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        gap: 2vw;
        color: #ffffff;


        @container (min-width: 650px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        @container (min-width: 1089px) {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
    }

    li {
        display: flex;
        flex-direction: column;
        border: 2px var(--white) solid;
        background-color: var(--primary-cinema);
        border-radius: var(--border-medium);
        margin-bottom: 1rem;
        position: relative;
        position: relative;
        transition: all .3s ease;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: radial-gradient(circle at var(--mouse-x) var(--mouse-y),
                    rgba(255, 255, 255, 0.693) 0%,
                    transparent 30%);
            pointer-events: none;
            opacity: 0;
            transition: opacity 0.3s;
        }

        &:hover::before {
            opacity: 1;
        }

        &:hover {
            scale: 1.02;
        }

        &:nth-child(odd):hover {
            rotate: 3deg;
        }

        &:nth-child(even):hover {
            rotate: -3deg;
        }

        @media (min-width: 550px) {

            width: 100%;
        }

        h3 {
            margin: 1rem;
            font-size: 1.3rem;
        }

        img {
            border-radius: var(--border-medium) var(--border-medium) 0 0;
        }

        p.border {
            border-radius: var(--border-radius);
            padding: .5rem;
            position: absolute;
            top: 1rem;
            left: 1rem;
            background-color: var(--primary-cinema);
        }

        a.lightlink {
            height: 50px;
            border-radius: 0 0 var(--border-small) var(--border-small);
        }
    }
}

/* individual design universal */
section.individual {

    display: flex;
    flex-direction: column;

    @media (min-width: 789px) {
        flex-direction: row;
        gap: 5vw;
    }

    article:nth-of-type(1) {

        display: flex;
        flex-direction: column;
        width: 100%;

        @media (min-width: 789px) {
            flex-direction: column;
            width: 45vw;
        }

        h2 {
            margin-bottom: 1rem;
        }
    }

    img {
        border-radius: 2rem;
    }

    section:nth-of-type(1) {

        display: flex;
        flex-direction: column;
        width: 100%;

        @media (min-width: 789px) {

            width: 45vw;
        }
    }

    p.price {
        margin: 2rem 0;
        font-size: var(--paragraph);
    }

    span {
        font-size: 1rem;
        text-decoration: line-through;
        font-style: italic;
    }

    button {
        text-decoration: none;
        margin-bottom: 1rem;
        padding: .5rem;
        border-radius: var(--border-small);
        border: solid var(--primary-cinema);
        background-color: var(--button-bg-biege);
        color: var(--button-text);
        cursor: pointer;

        &:hover {
            filter: brightness(1.2);
        }
    }
}

footer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: var(--primary-cinema);
    box-shadow: var(--black) 0 1px 9px;
    filter: brightness(1.3);
    width: 100%;
    height: 10%;
    position: fixed;
    padding: .5rem .5rem;
    bottom: 0;
    left: 0;

    section {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 90%;
    }

    a {
        width: 90%;
        color: var(--white);
    }
}

/* winter snow */

.snow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}


.flake {
    position: absolute;
    top: -14vh;
    left: calc(var(--x, 50) * 1%);
    animation: fall var(--fall, 16s) linear infinite;
    animation-delay: var(--delay, 0s);
    will-change: transform;
}

.flake::before {
    content: var(--glyph, "❄");
    display: block;
    font-size: var(--size, 18px);
    opacity: var(--opacity, 0.6);
    filter: blur(var(--blur, 0px));
    transform-origin: 50% 50%;
    will-change: transform;
    animation: drift var(--driftDur, 6s) ease-in-out infinite;
    animation-delay: calc(var(--delay, 0s) * 0.5);
    text-shadow: 0 10px 18px rgba(0, 0, 0, 0.18);
}


.flake:nth-child(3n)::before {
    content: "❆";
}

.flake:nth-child(3n + 2)::before {
    content: "❅";
}


.snow--far .flake {
    --size: clamp(9px, 1vw, 13px);
    --opacity: 0.22;
    --blur: 1.2px;
    --driftDur: 10s;
}

.snow--mid .flake {
    --size: clamp(12px, 1.4vw, 18px);
    --opacity: 0.42;
    --blur: 0.55px;
    --driftDur: 8s;
}

.snow--near .flake {
    --size: clamp(16px, 2vw, 28px);
    --opacity: 0.7;
    --blur: 0px;
    --driftDur: 6s;
}


@keyframes fall {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(0, 132vh, 0);
    }
}

@keyframes drift {
    0% {
        transform: translateX(0) rotate(0turn);
    }

    35% {
        transform: translateX(calc(var(--drift, 40px) * -0.6)) rotate(0.35turn);
    }

    70% {
        transform: translateX(var(--drift, 40px)) rotate(0.75turn);
    }

    100% {
        transform: translateX(0) rotate(1turn);
    }
}

@media (max-width: 480px) {

    .snow--far .flake:nth-child(n + 11),
    .snow--mid .flake:nth-child(n + 11),
    .snow--near .flake:nth-child(n + 11) {
        display: none;
    }
}

@media (prefers-reduced-motion: reduce) {
    .flake {
        animation: none;
    }

    .flake::before {
        animation: none;
        opacity: 0.25;
    }
}

@keyframes slide-left {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

@keyframes slide-right {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}